@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html, body {
    height: 100%;
}
body {
    font-family: "Montserrat", sans-serif !important;
    background-color: #c7c7c7 !important;
}

:root {
    --portal-color-1: #1B6ED4;
    --portal-color-2: #EBF3FD;
    --portal-color-3: #FFF0E5;
    --portal-color-4: #FF6600;
}

.border-portal-1 {
    border: 1px solid var(--portal-color-1);
}

.border-portal-2 {
    border: 1px solid var(--portal-color-2);
}

.bg-portal-1 {
    background-color: var(--portal-color-1) !important;
}

.bg-portal-2 {
    background-color: var(--portal-color-2) !important;
}

.badge-portal-1 {
    background-color: var(--portal-color-3) !important;
    color: var(--portal-color-4) !important;
    border-radius: 30px !important;
}

.badge-portal-2 {
    background-color: var(--portal-color-2) !important;
    color: var(--portal-color-2) !important;
    border-radius: 30px !important;
}

.text-portal-4 {
    color: var(--portal-color-4) !important;
}

.text-portal-1 {
    color: var(--portal-color-1) !important;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

#overlay h5 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
    width: 80%;
    text-align: center;
}

